target/
.settings
.project
.classpath
.metadata
.recommenders
*~
ogema.zip
/**/channelmapper.config
rundirs/*/config/ua_repo.dat
rundirs/*/security/users/ua_repo.dat
rundirs/*/ogema/users
rundirs/*/data/
rundirs/*/bin/*
rundirs/*/file.*
rundirs/*/appstore
rundirs/*/temp
rundirs/*/config/zwave_cache/OZW_Log.txt
rundirs/rundir-sdk-installer/tmp/
!rundirs/*/bin/lib
!rundirs/*/bin/ext
!rundirs/*/bin/dependencies
!rundirs/*/bin/ace
!rundirs/*/.project
!src/eclipse/*/.project
!src/plugins/*
pom.xml.versionsBackup
pom.xml.releaseBackup
src/**/bin
src/eclipse/update-site/features
src/eclipse/update-site/plugins
src/eclipse/update-site/artifacts.jar
src/eclipse/update-site/content.jar