<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ogema.connector" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-sdk android:minSdkVersion="15"
            android:targetSdkVersion="22"/>
        <activity
            android:name="com.example.dnestle.com.example.ogema.sample.connector.MyActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.dnestle.com.example.ogema.sample.connector.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.example.dnestle.com.example.ogema.sample.connector.MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnestle.com.example.ogema.sample.connector.MyActivity" />
        </activity>
        <activity
            android:name="com.example.dnestle.com.example.ogema.sample.connector.ServletWLANActivity"
            android:label="@string/title_activity_servlet_wlan"
            android:parentActivityName="com.example.dnestle.com.example.ogema.sample.connector.MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnestle.com.example.ogema.sample.connector.MyActivity" />
        </activity>

        <service
            android:name="com.example.dnestle.com.example.ogema.sample.connector.util_wlan.WLANOGEMAService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name="com.example.dnestle.com.example.ogema.sample.connector.util_startup.StartMyServiceAtBootReceiver"
            android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
